header {
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.css-usrzw8-MuiStack-root {
    width: 95%;
}

.chat-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 80%;
}

.css-usrzw8-MuiStack-root {
    height: 600px;
}

.message-box {
  max-width: 80%;
  word-wrap: break-word;
  text-align: left;
}