header {
    margin-top: 10px;
    display: flex;
    width: 100%;
}


.chat-container {
    flex-grow: 1;
    overflow-y: auto;
}

.css-usrzw8-MuiStack-root {
    width: 97%;
    height: 80%;
}

.message-box {
  max-width: 80%;
  word-wrap: break-word;
  text-align: left;
}